.container-regragame {
    margin-top: 100px;
    margin: 50px;
}

.container-jogo {
    text-align: center;
    margin: 50px;
}

.container-dev {
    margin-top: 100px;
    margin:50px;
    text-align: center;
}

#dev {
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

/* CSS TEAM */

.team-list img {
    width: 50%;
}
.team-list .content {
    width: 50%;
}
.team, .team-list {
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}
.shadow {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
}
.rounded {
    border-radius: 5px !important;
}
.team-list .content .follow {
    position: absolute;
    bottom: 24px;
}
.list-inline-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 0px;
}
.social-icon.social li a {
    color: #adb5bd;
    border-color: #adb5bd;
}
.social-icon li a {
    color: #35404e;
    border: 1px solid #35404e;
    display: inline-block;
    height: 32px;
    text-align: center;
    font-size: 15px;
    width: 32px;
    line-height: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}
.progress-box .progress .progress-bar {
    height: 4px;
    border-radius: 10px;
    margin: auto 5px;
    -webkit-animation: animate-positive 3s;
    animation: animate-positive 3s;
    overflow: visible !important;
}
.rounded {
    border-radius: 5px !important;
}

.progress-box .title {
    font-size: 15px !important;
}
.text-muted {
    color: #8492a6 !important;
}

.progress-box .progress {
    height: 9px;
    overflow: visible;
    background: #eceef5;
}

.progress-box .progress .progress-value {
    position: absolute;
    top: -25px;
    right: -15px;
    font-size: 13px;
}

/* CSS TEAM END */

/* CSS PARTE SOBRE */
#titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.container-sobre {
    margin: 50px;
}

.containerI {
    text-align: center;
    margin: 30px;
}

/* END CSS PARTE SOBRE */

/* MEDIA QUERIES */
@media screen and (max-width:767px) {

    .containerbar {
        display: none;
    }

}
/* END MEDIA QUERIES */